@media (max-width: 767px) {
    .extraLargeWindow .humanColumn{

    }
}

@media (min-width: 768px) {
    .extraLargeWindow .humanColumn{
        width: 260px;
    }

    .machineColumnHeader{
        width: 340px;
        margin-right: 0px;
    }
    .machineColumn{
        width: 340px;
    }
}

@media (min-width: 992px) {
    .extraLargeWindow .humanColumn{
        width: 400px;
    }

    .machineColumnHeader{
        width: 440px;
        margin-right: 0px;
    }
    .machineColumn{
        width: 440px;
    }
}

@media (min-width: 1200px) {
    .extraLargeWindow .humanColumn{
        width: 600px;
        text-align: justify;
    }
    .machineColumnHeader{
        width: 552px;
        margin-right: 8px;
    }
    .machineColumn{
        width: 560px;
    }
}
